body{
    margin: 0;
    padding: 0;
    background: #708d00; 
    font-family: sans-serif;
}
.card{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 400px;
    background: #fff;
    transform-style: preserve-3d;
    transform: translate(-50%,-50%) perspective(2000px);
    box-shadow: inset 300px 0 50px rgba(0,0,0,.5),0 20px 100px rgba(0,0,0,.5);
    transition: 1s;
}
.card:hover{
    transform: translate(-50%,-50%) perspective(2000px) rotate(-10deg);
    box-shadow: inset 20px 0 50px rgba(0,0,0,.5),0 10px 100px rgba(0,0,0,.5);
   
}
.card:before{
    content: '';
    position: absolute;
    top: -5px;
     left: 0;
     width: 100%;
     height: 5px;
     background: #475b02;
     transform-origin: bottom; 
     transform: skewX(-45deg);
}
img{
    width: 100%;
    height: 100%;
}
.card:after{
    content: '';
    position: absolute;
    top: -5px;
    right: -5px;
    width: 5px;
    height: 100%;
    background: #739601;
    transform-origin:left; 
    transform: skewY(-45deg);
}
.card .imgBox{
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: left;
    z-index: 1;
    transition: 1s cubic-bezier(.15,1.7,.84,.58);
}
 .card:hover .imgBox{
     transform: rotateY(-135deg);
 } 
 .card .details{
     position: absolute;
     top: 0;
     left: 0;
     box-sizing: border-box;
     padding: 20px;
     z-index: -1;
 }
 @media(max-width:670px){
    .card{
        width: 148px;
   } 
    .card:hover{
        transform: translate(-50%,-50%) perspective(2000px) rotate(-5deg);
        box-shadow: inset 20px 0 50px rgba(0,0,0,.5),0 10px 100px rgba(0,0,0,.5);
        margin: 60px;
     }
     
 }
 @media(max-width:2048px){
    .card:hover{
        transform: translate(-50%,-50%) perspective(2000px) rotate(-10deg);
        box-shadow: inset 20px 0 50px rgba(0,0,0,.5),0 10px 100px rgba(0,0,0,.5);
        margin: 30px;
     }
     
 }
 
