body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
ul li{
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 0 30px;
    transform: rotate(-30deg) skew(25deg);
    background: #ccc;
    margin-bottom: 20px;

}
ul li span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transition: .5s;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 36px !important;
    color: #fff;
}
ul li:hover span{
    box-shadow: -1px 1px 1px rgba(0,0,0,.1)
}
ul li:hover span:nth-child(5){
    transform: translate(40px,-40px);
    opacity: 1;
}
ul li:hover span:nth-child(4){
    transform: translate(30px,-30px);
    opacity: .8;
}
ul li:hover span:nth-child(3){
    transform: translate(20px,-20px);
    opacity: .6;
}
ul li:hover span:nth-child(2){
    transform: translate(10px,-10px);
    opacity: .4;
}
ul li:hover span:nth-child(1){
    transform: translate(0,0);
    opacity: .2;
}
ul li:nth-child(1) span{
    background: #e4405f;;
}
ul li:nth-child(2) span{
    background: #3b5999;
}
ul li:nth-child(3) span{
    background: #dd4b39;
}
ul li:nth-child(4) span{
    background: #55acee;
}
ul li:nth-child(5) span{
    background: #0077B5;
}
